.container {
  display: flex;
  min-height: 100vh;
  background: #111;
}
.leftSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 650px;
}

.logoImg {
  width: 650px;
  height: 650px;
  object-fit: contain;
}

.logo {
  display: none;
}
.rightSection {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  background: #fff;
  border-radius: 10px;
  padding: 40px 32px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  min-width: 350px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #1E1E1E;
  font-family: 'Inter', Arial, sans-serif; 
}
.subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: medium;
  margin-bottom: 12px;
  color: #1E1E1E;
  font-family: 'Inter', Arial, sans-serif;
}
.link {
  color: #e53935;
  text-decoration: none;
  font-weight: 500;
}
.input {
  color: #3C4043;
  padding: 10px 12px;
  border: 1px solid #DADCE0;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
  font-family: 'inter', Arial, sans-serif;
}
.input:focus {
  border-color: #e53935;
}
.button {
  background: #e53935;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}
.button:hover {
  background: #b71c1c;
}
